
hr {
  margin-top: 30px;
  margin-bottom: 20px;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  min-height: 100vh;
  font-size: 12pt;
  background: radial-gradient(circle at 25% 25%, #61a5ff, transparent 60%),
  radial-gradient(circle at 75% 50%, #4ca1af, transparent 60%),
  radial-gradient(circle at 25% 75%, #2c51f7, transparent 60%),
  radial-gradient(circle at 50% 25%, #43e9e9, transparent 60%),
  radial-gradient(circle at 75% 75%, #3a87b7, transparent 60%);
  background-color: #091540; /* Darker background similar to macOS style */
  background-blend-mode: screen;
  margin: 0;
  background-size: cover;
  background-repeat: no-repeat;
}

.wisp {
  position: absolute;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3), transparent 70%);
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
}

.wisp1 {
  width: 600px;
  height: 300px;
  top: 0%;
  left: 20%;
  transform: rotate(45deg);
}

.wisp2 {
  width: 800px;
  height: 400px;
  bottom: 45%;
  left: -10%;
  transform: rotate(-10deg);
}

.wisp3 {
  width: 500px;
  height: 250px;
  top: 10%;
  right: 15%;
  transform: rotate(-60deg);
}

.wisp4 {
  width: 700px;
  height: 350px;
  top: 30%;
  right: 0%;
  transform: rotate(0deg);
}

.latest-post {
  background-color: #f9f9f9; /* Light background for contrast */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  margin-bottom: 20px;
}

.latest-post h2 {
  margin-top: 0;
  font-size: 1.5em;
}

.latest-post a {
  text-decoration: none;
  color: #007acc; /* Link color */
}

.latest-post a:hover {
  text-decoration: underline;
}

.page-content {
  display: flex;
  flex-direction: column;
  max-width: 1500px;
  margin: 20px;
  background-color: rgba(255,255,255,0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
}

.content {
  text-align: justify;
  margin-bottom: 20px;
}

.wrapper {
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}

.header-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.site-header {
  border-top: 0px;
  padding-top: 10px;
  border-bottom: 2px solid #e8e8e8;
  border-bottom-style: groove;
  min-height: 55.95px;
  position: relative;
}

.site-title {
  font-size: 30pt;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  padding: 0px;
}

.site-nav {
  font-size: 15pt;
  font-weight: 300;
  line-height: 54px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: right;
  padding: 0px;
}

.image-rounded {
  border-radius: 10px;
  overflow: hidden;
}

.image-centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.post-list-heading {
  font-size: 20px;
}

.post-list>li {
  margin-bottom: 10px;
}

.post-link {
  display: block;
  font-size: 18px;
  padding-left: 20px;
}

.image {
  max-width: 90%;
  height: auto;
  border-radius: 8px;
  align-items: center;
}

.footer-col-wrapper {
  font-size: 15px;
  color: #e0e0e0;
  text-align: center;
}


.footer-col-1 {
  width: 15%;
}

.footer-col-2 {
  width: 50%;
}
.footer-col-3 {
  width: 15%;
}

.footer-heading {
  font-size: 18px;
  margin-bottom: 15px;
  color: #e0e0e0;
  text-align: center;
}

/* Post navigation links */
.post_navi {
  display: flex;
  font-size: 10pt;
}

.post_navi-label {
  font-size: 0.8em;
  opacity: 0.5;
}

.post_navi .post_navi-item {
  padding: 0 2.2em;
  width: 50%;
  position: relative;
  color: inherit !important;
}

.post_navi .nav_prev {
  text-align: left;
}

.post_navi .nav_next {
  text-align: right;
}

.post_navi .nav_prev .post_navi-arrow {
  left: 0;
}

.post_navi .nav_next .post_navi-arrow {
  right: 0;
}

.post_navi .post_navi-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5em;
  opacity: 0.3;
}
